*.pyc
*.png
*.pkl
*.DS_Store
*.sh
sliding_block/input_manipulation_directory/*
sliding_block/__pycache__/*
sliding_block/saved_final_model/*
sliding_block/saved_models_during_iterations/*
sliding_block/tensorboard_directory/*
sliding_block/.ipynb_checkpoints/*
MuJoCo/logs/*
MuJoCo/demonstrator_trajectories/*
MuJoCo/demonstrator_controller_reward_log/*
MuJoCo/saved_demonstrator_models/*
MuJoCo/.ipynb_checkpoints/*
MuJoCo/__pycache__/*
.DS_Store
.ipynb_checkpoints/*
__pycache__/*
